Repository buggregator/frontend, pull requests merged in 2023-12, with the labels that each got.

#82 Fixes problem with removing an event
  src/shared/ui/preview-card/preview-card.vue
Labels: bug, module:events

#84 Adds support for Ray application log
  src/entities/ray/mocks-laravel/index.ts
  src/entities/ray/mocks-laravel/ray-laravel-application-log.json
  src/entities/ray/types.ts
  src/entities/ray/ui/preview-card/preview-card.stories.ts
  src/entities/ray/ui/preview-card/preview-card.vue
  src/entities/ray/ui/ray-application-log/index.ts
  src/entities/ray/ui/ray-application-log/ray-application-log.stories.ts
  src/entities/ray/ui/ray-application-log/ray-application-log.vue
Labels: enhancement, module:ray, feature

#86 Improves event preview footer labels.
  src/entities/ray/lib/use-ray/normalize-ray-event.ts
  src/entities/ray/mocks-laravel/ray-laravel-cache.json
  src/entities/ray/mocks-laravel/ray-laravel-collections.json
  src/entities/ray/mocks-laravel/ray-laravel-eloquent.json
  src/entities/ray/mocks-laravel/ray-laravel-events.json
  src/entities/ray/mocks-laravel/ray-laravel-http-request.json
  src/entities/ray/mocks-laravel/ray-laravel-jobs.json
  src/entities/ray/mocks-laravel/ray-laravel-mailable.json
  src/entities/ray/mocks-laravel/ray-laravel-query-no-bindings.json
  src/entities/ray/mocks-laravel/ray-laravel-query.json
  src/entities/ray/mocks-laravel/ray-laravel-views.json
  src/entities/ray/mocks/ray-caller.json
  src/entities/ray/mocks/ray-carbon.json
  src/entities/ray/mocks/ray-color.json
  src/entities/ray/mocks/ray-counter.json
  src/entities/ray/mocks/ray-dump.json
  src/entities/ray/mocks/ray-exception.json
  src/entities/ray/mocks/ray-hide.json
  src/entities/ray/mocks/ray-image.json
  src/entities/ray/mocks/ray-integer.json
  src/entities/ray/mocks/ray-json.json
  src/entities/ray/mocks/ray-label.json
  src/entities/ray/mocks/ray-lock.json
  src/entities/ray/mocks/ray-measure-start.json
  src/entities/ray/mocks/ray-measure.json
  src/entities/ray/mocks/ray-notify.json
  src/entities/ray/mocks/ray-size.json
  src/entities/ray/mocks/ray-table.json
  src/entities/ray/mocks/ray-text.json
  src/entities/ray/mocks/ray-trace.json
  src/entities/ray/types.ts
  src/shared/ui/preview-card/preview-card-footer.vue
Labels: enhancement, module:ray, usability

#87 Refactors pause button
  pages/index.vue
  src/screens/events/ui/pause-button/index.ts
  src/screens/events/ui/pause-button/pause-button.stories.ts
  src/screens/events/ui/pause-button/pause-button.vue
  src/shared/ui/icon-svg/icon-svg-originals/bolt-slash.svg
  src/shared/ui/icon-svg/icon-svg-originals/bolt.svg
  src/shared/ui/icon-svg/icon-svg.vue
Labels: enhancement, usability

#92 Adds platforms for docker builds
  .github/workflows/docker-dev-image.yml
  .github/workflows/docker-image.yml
Labels: enhancement, improvement

#90 Issue/#83 lock events
  plugins/events.client.ts
  src/shared/lib/io/use-events-requests.ts
  src/shared/lib/use-api-transport/use-api-transport.ts
  src/shared/types/events.ts
  src/shared/types/local-storage.ts
  src/shared/ui/preview-card/preview-card-header.vue
  src/shared/ui/preview-card/preview-card.vue
  stores/cached-ids.ts
  stores/events.ts
  stores/locked-ids.ts
Labels: enhancement, improvement, usability, module:events

#100 Improves tags for sentry page
  src/entities/sentry/lib/normalize-sentry-event.ts
  src/entities/sentry/mocks/sentry-spiral.json
  src/screens/sentry/ui/sentry-page-tags/sentry-page-tags.vue
  src/screens/sentry/ui/sentry-page/sentry-page.vue
Labels: enhancement, module:sentry, usability

#101 bugfixes for ligth theme
  assets/mixins.scss
  src/entities/ray/ui/ray-application-log/ray-application-log.vue
  src/entities/sentry/ui/preview-card/preview-card.vue
  src/entities/sentry/ui/sentry-exception/sentry-exception-frame.vue
  src/screens/sentry/ui/sentry-page-app/sentry-page-app.vue
  src/screens/sentry/ui/sentry-page-breadcrumbs/sentry-page-breadcrumbs.vue
  src/screens/sentry/ui/sentry-page-device/sentry-page-device.vue
  src/screens/sentry/ui/sentry-page-request/sentry-page-request.vue
  src/shared/ui/value-dump/value-dump.vue
Labels: bug, improvement

#102 Issue/#95 improve copy image
  app.vue
  assets/vendor.ts
  src/entities/sentry/ui/preview-card/preview-card.vue
  src/shared/ui/icon-svg/icon-svg-originals/file-download.svg
  src/shared/ui/icon-svg/icon-svg-originals/image-download.svg
  src/shared/ui/icon-svg/icon-svg.vue
  src/shared/ui/preview-card/preview-card-header.vue
  src/shared/ui/preview-card/preview-card.vue
  src/shared/ui/preview-card/types.ts
  src/widgets/ui/page-header/page-header.vue
Labels: feature, usability

#105 Improves sentry blocks UI
  src/entities/sentry/ui/preview-card/preview-card.vue
  src/entities/sentry/ui/sentry-exception/sentry-exception.vue
  src/screens/sentry/ui/sentry-page-breadcrumbs/sentry-page-breadcrumbs.vue
  src/screens/sentry/ui/sentry-page-request/sentry-page-request.vue
  src/screens/sentry/ui/sentry-page-tags/sentry-page-tags.vue
  src/screens/sentry/ui/sentry-page/sentry-page.vue
  src/shared/ui/preview-card/preview-card-header.vue
Labels: enhancement, module:sentry
