Repository buggregator/frontend, pull requests merged in 2024-05, with the labels that each got.

#138 Fixes ray exception icons color
  src/entities/ray/ui/ray-file/ray-file.vue
Labels: bug, module:ray

#140 Refactors SMTP attachments fetching from HTTP endpoint
  pages/smtp/[id].vue
  src/entities/smtp/lib/use-smtp.ts
  src/screens/smtp/ui/smtp-page/smtp-page.vue
  src/shared/lib/io/index.ts
  src/shared/lib/io/use-smtp-requests.ts
  src/shared/lib/use-smtp/index.ts
  src/shared/lib/use-smtp/use-smtp-api.ts
  src/shared/types/events.ts
  src/shared/ui/file-attachment/file-attachment.vue
Labels: enhancement, module:smtp

#141 Issue/#134 add logo
  src/assets/index.css
  src/assets/mixins.scss
  src/shared/ui/icon-svg/icon-svg-originals/logo-short.svg
  src/shared/ui/icon-svg/icon-svg-originals/logo.svg
  src/shared/ui/icon-svg/icon-svg.vue
  src/shared/ui/pause-button/pause-button.vue
  src/widgets/ui/layout-sidebar/layout-sidebar.vue
  src/widgets/ui/page-placeholder/page-placeholder.vue
Labels: bug, improvement

#144 [bugfix] fix ray event style
  src/entities/ray/ui/ray-event/ray-event.vue
Labels: bug, module:ray

#145 [bugfix] fix inspector page open
  src/entities/http-dump/ui/preview-card/preview-card.vue
  src/entities/inspector/types.ts
  src/entities/sentry/ui/preview-card/preview-card.vue
  src/screens/inspector/ui/inspector-page-timeline/inspector-page-timeline.vue
  src/screens/inspector/ui/inspector-page/inspector-page.stories.ts
  src/screens/inspector/ui/inspector-page/inspector-page.vue
Labels: bug, module:inspector

#147 Bugfix/update types
  .eslintrc.json
  nuxt.config.ts
  pages/smtp/[id].vue
  src/entities/smtp/lib/use-smtp.ts
  src/entities/smtp/types.ts
  src/entities/var-dump/mocks/index.ts
  src/screens/smtp/ui/smtp-page/smtp-page.vue
  src/shared/lib/io/use-smtp-requests.ts
  src/shared/lib/use-smtp/index.ts
  src/shared/lib/use-smtp/use-smtp-api.ts
  src/shared/types/events.ts
  tsconfig.json
Labels: improvement

#148 Issue/#127 block deleting new appeared events
  src/shared/ui/preview-card/preview-card.vue
Labels: enhancement, improvement, usability
